<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Joke of Day</title>
<meta name="description" content="Smile face always" />
<meta name="keywords" content="google share joke photo,images,timeline" />
<meta name="author" content="nicholas" />
<link rel="shortcut icon" href="<%= locals.config.host %>/favicon_16.ico">
