<!DOCTYPE html>
<html>
    <head>
        <% include ../meta.ejs %>
        <link rel="stylesheet" href="css/assets/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon.css"/>
        <link rel="stylesheet" href="css/assets/index.css"/>
        <link rel="stylesheet" type="text/css" href="css/assets/header.css">
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css"/>
    </head>
    <body>
        <% include ../common/header.ejs %>
        <% include ../common/jumbotron.ejs %>
        <div id="container">
            <div id="contents" class="transitions-enabled infinite-scroll">
                <% include ../common/jokeitem.ejs %>
            </div>
            <nav id="page-nav">
                <a href="/?page=2"></a>
            </nav>
        </div>
    <!-- load js here -->
        <script src="js/utils/jquery-2.1-min.js"></script>
        <script src="js/utils/bootstrap.min.js"></script>
        <script src="js/utils/jquery.infinitescroll.min.js"></script>
        <script src="js/utils/jquery.fancybox.pack.js"></script>
        <script src="js/utils/masonry.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.fancybox').fancybox();
                var $container = $('#contents');
                $container.masonry( {
                    columnWidth: 360,
                    itemSelector: '.item',
                    gutterWidth: 30,
                    isAnimated: true
                });
                $container.imagesLoaded(function() {
                    $container.masonry();
                });
                $container.infinitescroll({
                            navSelector  : '#page-nav',    // selector for the paged navigation
                            nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
                            itemSelector : '.item',     // selector for all items you'll retrieve
                            loading: {
                                finishedMsg: 'No more pages to load.',
                                img: '<%= locals.config.host%>/images/loading.gif',
                                msgText: "<em>Loading the next set of posts...</em>"
                            }
                        },
                        // trigger Masonry as a callback
                        function( newElements ) {
                            // hide new items while they are loading
                            var $newElems = $( newElements ).css({ opacity: 0 });
                            // ensure that images load before adding to masonry layout
                            $newElems.imagesLoaded(function(){
                                // show elems now they're ready
                                $newElems.animate({ opacity: 1 });
                                $container.masonry( 'appended', $newElems, true );
                            });
                        }
                );
                $container.click(function(e) {
                    var btn = $(e.target);
                    if (btn.is('a.btn-plus-like')) {
                        var jokeId = btn.attr('id');
                        $.post('/joke/like-or-not', {'jokeId': jokeId}, function(data) {
                            if (data.status === 'success') {
                                var $btn = $('#'+ data.id);
                                $btn.css('color', '#ffffff');
                                $btn.css('background-color', '#d2322d');
                                $btn.html('').html('+'+data.likes);
                                $btn.removeClass('btn-plus-like');
                            } else {
                                if (data.error) {
                                    alert(data.error);
                                }
                            }
                        }, 'json');
                    }
                });
            });
        </script>
    </body>
</html>

