<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="icon icon-happy nav-icon-circle"></span></a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="/"><span class="icon icon-home nav-icon-circle"></span></a>
            </li>
            <li>
                <a href="/timeline"><span class="icon icon-bar-chart-o nav-icon-circle"></span></a>
            </li>
            <% if (locals.current_user) { %>
            <li>
                <a href="/messages" class="nav-user-message"><span class="icon icon-envelope-o nav-icon-circle"></span>
                <span class="badge user-message-count">4</span></a>
            </li>
            <% } %>
            <li>
                <a href="/photos"><span class="icon icon-picture nav-icon-circle"></span></a>
            </li>
        </ul>
        <% if (locals.current_user) { %>
            <ul class="nav navbar-nav navbar-right nav-ul-info">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%= locals.current_user.profile_image_url %>"
                        class="img-circle img-responsive">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/<%= locals.current_user.name %>/timeline">
                                <i class="icon icon-user"></i> my timeline
                            </a>
                        </li>
                        <li>
                            <a href="/<%= locals.current_user.name %>/photos">
                                <i class="icon icon-camera"></i> my gallery
                            </a>
                        </li>
                        <li>
                            <a href="/settings">
                                <i class="icon icon-gear"></i> Edit Profile
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/signout">
                                <i class="icon icon-sign-out"></i> sign out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        <% } else { %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signin">
                        <span class="icon icon-sign-in nav-icon-circle"></span>
                    </a>
                </li>
            </ul>
        <% } %>
        <form class="navbar-form navbar-right nav-search-form" role="search">
            <div class="form-group search-bar">
                <input type="text" class="form-control search-input" placeholder="search friends or ..." />
                <span class="icon icon-search search-bar-icon"></span>
            </div>
        </form>
    </div>
</nav>