<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Smile it</a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/timeline">Timeline</a>
            </li>
            <li>
                <a href="/photos">Photos</a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search friends or ..." />
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <% if (locals.current_user) { %>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right:40px;">
                        <i class="icon icon-user"></i>  <%= locals.current_user.name %>
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/joke/create">
                                <i class="icon icon-pencil"></i>
                                share it
                            </a>
                        </li>
                        <li>
                            <a href="/<%= locals.current_user.name %>/timeline">
                                <i class="icon icon-user"></i> my timeline
                            </a>
                        </li>
                        <li>
                            <a href="/<%= locals.current_user.name %>/photos">
                                <i class="icon icon-camera"></i> my gallery
                            </a>
                        </li>
                        <li>
                            <a href="/settings">
                                <i class="icon icon-gear"></i> Edit Profile
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/signout">
                                <i class="icon icon-sign-out"></i> sign out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        <% } else { %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signin" style="padding-right:40px;">
                        <i class="icon icon-sign-in"></i> sign up/login
                    </a>
                </li>
            </ul>
        <% } %>
    </div>
</nav>