<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <h1>
                Joke of Day
            </h1>
            <p>
                This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            </p>
            <p>
                <a class="btn btn-info btn-large" href="/about">Learn more</a>
            </p>
        </div>
    </div>
</div>