<div class="item post-create">
    <div class="post-create-body">
        <textarea name="content" id="post-content" placeholder="Share what's new..."></textarea>
        <span class="bottom-bar"></span>
        <ul class="list-inline share-list">
            <li>
                <a href="#">
                    <p class="icon icon-pencil share-pencil"></p>
                    <p class="share-active">Text</p>
                </a>
            </li>
            <li>
                <a href="#" class="share-default">
                    <p class="icon icon-camera"></p>
                    <p>Photo</p>
                </a>
            </li>
            <li>
                <a href="#" class="share-default">
                    <p class="icon icon-link"></p>
                    <p>Link</p>
                </a>
            </li>
            <li>
                <a href="#" class="share-default">
                    <p class="icon icon-video"></p>
                    <p>Video</p>
                </a>
            </li>
        </ul>
    </div>
</div>