.sidebar-top {
    padding: 30px 15px 10px 15px;
    text-align: center;
}
.sidebar-top img {
    margin-left: 50px;
}
.sidebar-user-name {
    font-family: "Lato";
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}
.sidebar-user-profile {
    font-family: "lato";
    font-size: 14px;
    color: #ffffff;
}
.sidebar-middle {
    border-top: 1px solid #cccccc;
    height: 200px;
}
.sidebar-bottom {
    padding: 10px 15px 10px 15px;
    border-top: 1px solid #cccccc;
    height: 200px;
}